{% extends 'base.html' %}

{% block start %}

<style>
  .form-group{
    margin: 10px;
    padding: 10px;
    background-color: rgb(136, 134, 131);
    border-radius: 10px;
    
  }

</style>
<div class="container">

</div>   
    <div class="container mt-1">
      <!-- FORM -->
      <form class=" col-6 mx-auto card  shadow-lg p-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
            
        {% endif %}
        <h2 class=" text-bg-dark " style="text-align: center; padding: 10px;">Register</h2>
            <hr>




        
        

        <div class="form-group ">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control"  name = "first_name" placeholder="Enter your first name">
          </div>

        <div class="form-group shadow-lg">
            <label for="exampleInputEmail1"> Last Name</label>
            <input type="text" class="form-control"  name = "last_name" placeholder="Enter your last name">
          </div>

        <div class="form-group shadow-lg">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control"  name = "username" placeholder="Enter your username">
          </div>

          <div class="form-group shadow-lg">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name = "password" placeholder="Enter the Password">
          </div>

          
          <p class=" m-auto" style="text-align: center;">Already have an account <a href="{% url 'login' %}">Login</a></p> <br>

          <button type="submit" class="btn btn-primary m-auto" style="width: 250px;">Register</button>
      </form>
    </div>

    


{% endblock %}

